*{
    padding:0px;
    margin: 0px;
}
.encabezado {
    background-color: #1572A1;
    color: white;
    font-size: 20pt;
    text-align: right;
    padding: 30px;
    float: up;
}
header {
    background-image: url(../img/logo.jpg);
    background-size: 40% 100%;
    background-repeat: no-repeat;
    padding: 10px 10px;
}
#header{
    margin:auto;
    width: 500px;
}
ul, ol {
    list-style: none;
}
.nav li a{
    background-color: #ffffff;
    color: black;
    text-decoration: underline;
    padding: 10px 15px;
    display: block;
    position: static;
}
.nav li a:hover{
    background-color:#E3BEC6;
}
.nav > li {
    float: left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 100px;
}
.nav li:hover > ul {
    display: block;
}
.contenedor {
    background-color: #EFDAD7; 
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.lateral {
    background-color: #E3BEC6;
    padding: 30px;
    grid-column: 1/2;
}
.principal {
    background-color: #9AD0EC;
    padding: 30px;
    grid-column: 2/5;
 
}
.pie {
    background-color: #1572A1;
    padding: 30px;
    color: white;
    text-align: center;
}
.h1{
    color: rgb(44, 27, 27);
    margin: auto;
    text-align: center;
    font-size: 22pt;
}
.p1{
    color: black;
    text-align: justify;
}
.h4{
    color: rgb(61, 2, 2);
    margin: auto;
    text-align: left;
    font-size: 20pt;
}
.h5{
    color: black;
    margin: auto;
    text-align: left;
}
.biblio{
    text-align: subra;
    text-decoration: underline;
    font-size: 1vw;
}
.titu{
    color: rgb(119, 0, 0);
    margin: auto;
    text-align: Center;
    font-size: 20pt;
}